<div class="container">
  <div class="row">
  <div class="col-md-4 col-md-offset-1">
      <h1> Our top players </h1><br>
      <% @top_players.each do |player| %>
      <div class="row">
        <div class="col-md-4">
          <%= player.small_avatar %>
        </div>
        <div class="col-md-6"><br>
         <%= player.full_name %>
       </div>
     </div>
     <% end %>
   </div>
   <div class="col-md-5">
    <h1>Recent games</h1><br>
    <table class="table table-striped">
      <% @recent_games.each do |match| %>
      <tr>
        <td>
          <%= match.long_date %>
        </td>
        <td>
          <%= link_to 'Preview >>> ', match %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
