<div class="container">
  <h1 class="text-center">Players</h1>

  <% @players.each_slice(4) do |slice| %>
  <div class="row  text-center">
    <% slice.each do |player| %>
    <div class="col-md-3">
    <%= player.small_avatar %>
    <h4><%= player.full_name  %></h4>
      <ul class="list-group list-unstyled">
        <% player.matches.each do |match| %>
        <li class="list-group-item">
          <span class="badge"><%= player.score(match) %></span>
          <%= match.long_date %>
        </li>

        <%end%>
      </ul>
    </div>
    <% end %>
  </div>
  <% end %>

</div>
