.container
  .row
    .col-md-8.col-md-offset-2
      %h1.text-center List of all matches
      %table.table.table-hover.table-responsive
        %thead
          %th Date
          %th First player
          %th Second player
        %tbody
        - @matches.each do |match|
          %tr
            %td
              = match.long_date
            - match.players.each do |player|
              %td
                %span.badge
                  = player.score(match)
                = player.link_to_full_name
      .text-center= will_paginate @matches, renderer: BootstrapPagination::Rails
