<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h1 class="text-center">Matches</h1>
      <table class="table table-hover">
        <% @matches.each do |match| %>
        <tr>
          <td>
            <%= match.long_date %>
          </td>
          <% match.players.each do |player| %>
          <td>
            <span class="badge">
              <%= player.score(match) %>
            </span>
            <%= player.link_to_full_name %>
          </td>
          <%end%>
        </tr>
        <% end %>
      </table>
      <div class="text-center"><%= will_paginate @matches, renderer: BootstrapPagination::Rails %></div>
    </div>
  </div>
</div>
