<div class="jumbotron">
  <div class="container">
    <h1>Let's play foosball!</h1>
    <p>Score goals with your new favourite foosball tracker</p>
    <p><%= link_to 'Play a game!', new_match_path(@match), class: "btn btn-danger btn-lg" %></p>
  </div>
</div>
