.jumbotron
  .container
    %h1 Let's play foosball!
    %p Score goals with your new favourite foosball tracker
    %p= link_to 'Play a game!', new_match_path(@match), class: "btn btn-danger btn-lg"
