<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Foosy", root_path, class: "navbar-brand" %></li>
      <li><%= link_to "Games", matches_path %></li>
      <li><%= link_to "Players", players_path %></li>
      <li><%= link_to "New player", new_player_path(@player) %></li>
    </ul>
  </li>
</nav>
